/* .box-shoes{
    margin-bottom: 30px !important;
    
}

.overlay{
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}


.box-shoes .card {
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}
.box-shoes .card .image {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.box-shoes .card:hover .image {
	transform: translateY(-20px);
}
.box-shoes .card .image .imgBx {
	position: relative;
	overflow: hidden;
}
.box-shoes .card .overlay {
	position: absolute;
	bottom: 50px;
	display: flex;
}
.box-shoes .card .overlay button {
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}
.box-shoes .card:hover .overlay button {
	transform: translateY(0px);
	opacity: 1;
}
.css-i4bv87-MuiSvgIcon-root {
    font-size: 30px !important;
    color: gray;
}
.love-style:hover svg {
    color: rgb(247, 70, 70);
}
.cart-style:hover svg{
    color: rgb(48, 211, 39);
} */